:root {
  --branding-color: #2e79ba;
  --secondary-color: #fcf4d9;
  --heading-font-family: "Nunito", system-ui;
  --default-font-family: "Poppins", system-ui;
}
body {
  font-family: var(--default-font-family);
}
h1,
h2,
h3,
h4 {
  font-family: var(--heading-font-family);
  font-weight: bold;
}
h1 {
  font-size: 96px;
  line-height: 1.5;
}
h2 {
  font-size: 64px;
}
p {
  font-size: 16px;
  line-height: 30px;
  font-weight: normal;
}
.hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
}
.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}
.hero h2 {
  font-size: 24px;
  line-height: 1.5;
  font-weight: normal;
  opacity: 0.7;
}
.about-section {
  padding: 160px 20px;
}
.about-section-content {
  margin: 30px;
}
.about-section h1 {
  font-size: 64px;
  line-height: 80px;
}
.about-section h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}
.btn-branding {
  background: var(--branding-color);
  color: white;
  font-size: 18px;
  padding: 15px 30px;
  border-radius: 6px;
}
.btn-branding:hover {
  background: var(--branding-color);
}
.btn-branding-outline {
  font-size: 18px;
  padding: 15px 30px;
  border-radius: 6px;
  border: 1px solid var(--branding-color);
  color: var(--branding-color);
}
.btn-branding-outline:hover {
  background: var(--branding-color);
}
.project-description {
  padding: 120px 60px;
}
@media (max-width: 900px) {
  h1 {
    font-size: 48px;
    line-height: 2;
  }
  h2 {
    font-size: 44px;
  }
  .hero {
    padding: 80px 20px;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }
  .about-section {
    text-align: center;
    padding: 0;
  }
}
